Repository sahaba-ai/awesome-arabic-speakers, pull requests merged in 2024-09, with the labels that each got.

#26 Added: Software - Alfanous
  content/post/software/alfanous/alfanous.png
  content/post/software/alfanous/index.ar.md
  content/post/software/alfanous/index.md
Labels: category/software, language/arabic, language/english

#27 Added: Multimedia - glich.stream
  content/post/multimedia/channel/glich-stream/glich-stream.jpeg
  content/post/multimedia/channel/glich-stream/index.ar.md
  content/post/multimedia/channel/glich-stream/index.md
Labels: language/english, category/multimedia

#28 Added: Multimedia - DevMENA channel
  content/post/multimedia/channel/dev-mena/devmena.png
  content/post/multimedia/channel/dev-mena/index.ar.md
  content/post/multimedia/channel/dev-mena/index.md
Labels: language/arabic, category/multimedia

#34 changed: replace deprecated paginate
  config/_default/config.yaml
Labels: enhancement

#29 Added: Software - LiveCodes
  content/post/software/livecodes/index.ar.md
  content/post/software/livecodes/index.md
  content/post/software/livecodes/livecodes.png
Labels: category/software, language/arabic, language/english

#30 Added: Multimedia - Arabic Competitive Programming Channel
  content/post/multimedia/channel/arabic-competitive-programming/arabic-competitive-programming.png
  content/post/multimedia/channel/arabic-competitive-programming/index.ar.md
  content/post/multimedia/channel/arabic-competitive-programming/index.md
Labels: language/arabic, category/multimedia

#31 Added: Multimedia - Pragma
  content/post/multimedia/channel/pragma/index.ar.md
  content/post/multimedia/channel/pragma/index.md
  content/post/multimedia/channel/pragma/pragma.png
Labels: language/arabic, category/multimedia

#35 Added: Software - Quran for Android
  content/post/software/quran-for-android/index.ar.md
  content/post/software/quran-for-android/index.md
  content/post/software/quran-for-android/quran-for-android.png
Labels: category/software, language/arabic, language/english
