Repository sahaba-ai/awesome-arabic-speakers, pull requests merged in 2024-08, with the labels that each got.

#7 Software: Added Quran Companion
  content/post/software/quran-companion/index.ar.md
  content/post/software/quran-companion/index.md
  content/post/software/quran-companion/quran-companion.png
Labels: category/software, language/arabic, language/english

#10 Multimedia: Tech Podcast in Arabic
  content/post/multimedia/tech-podcast-in-arabic/index.ar.md
  content/post/multimedia/tech-podcast-in-arabic/index.md
  content/post/multimedia/tech-podcast-in-arabic/tech-podcast-in-arabic.png
Labels: language/arabic, category/multimedia

#13 Added: Text - Eqraatech
  content/post/text/eqraatech/eqraatech.jpg
  content/post/text/eqraatech/index.ar.md
  content/post/text/eqraatech/index.md
Labels: language/arabic, category/text

#14 Added: Text - RTL Styling
  content/post/text/rtl-styling/index.ar.md
  content/post/text/rtl-styling/index.md
  content/post/text/rtl-styling/rtl-styling.png
Labels: language/arabic, language/english, category/text

#18 Added: Multimedia - Untyped Podcast
  content/post/multimedia/untyped-podcast/index.ar.md
  content/post/multimedia/untyped-podcast/index.md
  content/post/multimedia/untyped-podcast/untyped.png
Labels: language/arabic, category/multimedia

#15 Added: Software - Flutter Bond
  content/post/software/flutter-bond/flutter-bond.png
  content/post/software/flutter-bond/index.ar.md
  content/post/software/flutter-bond/index.md
Labels: category/software, language/english

#21 Added: Multimedia - Null++ Podcast
  content/post/multimedia/null-plus-plus-podcast/index.ar.md
  content/post/multimedia/null-plus-plus-podcast/index.md
  content/post/multimedia/null-plus-plus-podcast/null-plus-plus-podcast.jpg
Labels: language/arabic, category/multimedia

#20 Added: Software - Mishkal
  content/post/software/mishkal/index.ar.md
  content/post/software/mishkal/index.md
  content/post/software/mishkal/mishkal.png
Labels: category/software, language/arabic, language/english

#19 Added: Software - PyArabic
  content/post/software/pyarabic/index.ar.md
  content/post/software/pyarabic/index.md
  content/post/software/pyarabic/pyarabic.png
Labels: category/software, language/arabic, language/english

#22 Added: Multimedia - Elzero Web School
  content/post/multimedia/elzero-web-school/elzero.png
  content/post/multimedia/elzero-web-school/index.ar.md
  content/post/multimedia/elzero-web-school/index.md
Labels: language/arabic, category/multimedia

#23 Added: Multimedia - Tech Vault
  content/post/multimedia/tech-vault/index.ar.md
  content/post/multimedia/tech-vault/index.md
  content/post/multimedia/tech-vault/tech-vault.png
Labels: language/arabic, language/english, category/multimedia

#25 Added: Software - Ghalatawi
  content/post/software/ghalatawi/ghalatawi.png
  content/post/software/ghalatawi/index.ar.md
  content/post/software/ghalatawi/index.md
Labels: category/software, language/arabic, language/english
